@import "./mixins/colors";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  // padding: 16px;
  background-color: $color-white;
}

header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(#303a52, 0.1), rgba(#303a52, 0.2)), url('../images/refreshing_beverage.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: $color-light-black;

  display: flex;
  justify-content: flex-start;
  font-size: 130%;
}
